* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat";
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1617150119111-09bbb85178b0?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px 0px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #86B6F6;
    width: 40%;
    padding: 40px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

form input {
    border: none;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 5px;
}

form select option{
    padding: 12px;
}

form select {
    border: none;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 5px;
    cursor: pointer;
    appearance: none;
    background-image: url("https://cdn-icons-png.flaticon.com/512/120/120890.png");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 18px;
}

form label{
    font-weight: 500;
}

form button{
    width: 45%;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 8px;
    background-color: #176B87;
    color: white;
    font-size: 17px;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 25px;
}

form button:hover{
    background-color: #135970;
    transition: 0.3s;
}

#table{
    width: 80%;
}

#table button{
    padding: 5px 12px;
}

@media screen and (max-width:1400px){
    form{
        width: 45%;
    }
}
@media screen and (max-width:1250px){
    form{
        width: 50%;
    }
}

@media screen and (max-width:1120px){
    form{
        width: 55%;
    }
}

@media screen and (max-width:980px){
    form{
        width: 60%;
    }
}

@media screen and (max-width:830px){
    form{
        width: 65%;
    }
}
@media screen and (max-width:640px){
    form{
        width: 70%;
    }
}
@media screen and (max-width:530px){
    form{
        width: 75%;
    }
   header .form-input{
        width: 400px;
    }
}

@media screen and (max-width:440px){
    form{
        width: 80%;
    }
   header .form-input{
        width: 350px;
    }
}
@media screen and (max-width:370px){
    form{
        width: 85%;
    }
   header .form-input{
        width: 300px;
    }
}